[Desktop Entry]
Name=Materia Mono T

X-KDE-PluginInfo-Author=Utkarsh Verma
X-KDE-PluginInfo-Email=utkarshverma@protonmail.com
X-KDE-PluginInfo-Name=Materia-Mono-T
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Themes
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7
